/*some attrite are workign such as the width*/
.modulatedSearchButtonCSS {
    background-Color: "#409BE6";
    height: 47px;
    color: "#ffffff";
    margin-Left: 15px;
    margin-Right: 15px;
    width: 100%; 
    margin-Bottom: 15px;
    min-Width: 30px;
  }