.PaymentForm {
  /*Container*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  /*Box Model*/
  padding: 16px;
  padding: 8px;

  /*Cosmetics*/
  box-shadow: 0 2px 10px -3px black;
}

.TravelerInformation {

}

.PaymentInformation {

}

.PaymentFormControls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}